$form-control-heigth: 40px;
$icon-size: 22px;
$icons-horizontal-margin: 8px;
$label-jump-text-distance: -5px;
$err-margin-top: 5px;
$input-group-margins: 20px 0;

input:-webkit-autofill {
  -webkit-text-fill-color: $default-color !important;
}

input {
  outline: none;
  border: none;
}

.input-group {
  margin: $input-group-margins;
  width: 80%;
  position: relative;
}

.form-control,
.form-control-outlined {
  display: block;
  position: relative;

  height: $form-control-heigth;
  font-size: font-size("big");

  color: color-on("surface");
  caret-color: $accent-color;
  width: 100%;

  &:hover {
    background: darken(color("surface"), $amount: 3%);
  }

  &:focus ~ .helper-text {
    opacity: 1;
  }
}

.form-control {
  @include border(1px, lighten(color-on("surface"), $amount: 30%), "small");

  &:focus {
    border: 1px solid color-on("surface");
    background: darken(color("surface"), $amount: 6%);
  }
}

.form-control-outlined {
  border-bottom: 1px solid lighten(color-on("surface"), 30%);
  transition: all 0.2s ease-in;

  &:focus ~ label,
  &:valid ~ label {
    top: $label-jump-text-distance;
    font-size: font-size("small");
    color: color("secondary");
  }

  &:focus,
  &:valid {
    border-bottom: 1px solid color("secondary");
    background: color("surface");
  }
}

.select {
  text-transform: capitalize;
}

textarea {
  resize: none;
}

.form-label,
.form-label-outlined {
  position: absolute;
  font-size: font-size("big");

  &:first-letter {
    text-transform: uppercase;
  }
}

.form-label {
  top: rem(-27);
  left: 0;
}

.form-label-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  padding: 0 4px;
  transition: all 0.1s ease-out;
}

.leading-icon,
.trailing-icon,
.valid,
.character-count {
  position: absolute;
}

.leading-icon,
.trailing-icon,
.valid {
  font-size: $icon-size;
  width: $icon-size;
  top: 50%;
  transform: translateY(-50%);
}

.leading-icon {
  left: $icons-horizontal-margin;
}

.trailing-icon {
  right: $icons-horizontal-margin;
}

.valid {
  right: -25px;
  color: $success-color;
}

.padding-left {
  padding-left: rem(40);
}

.character-count {
  right: 0;
}

.err {
  margin-top: $err-margin-top;
  max-width: 80%;
}
