html,
body {
  line-height: $main-line-height;
  font-family: $main-font;
  font-size: $main-font-size; // 1rem = 10px 10px/16px = 62.5%
  background: $bg-gradient;
  color: $main-font-color;
  user-select: none;
  height: 100%;

  @include respond(laptop) {
    font-size: 56.25%; // 1rem = 9px 9px/16px = 56.25%
  }
  @include respond(tablet) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(big-desk) {
    font-size: 75%; //1rem = 12px
  }
}

input {
  outline: none;
  border: none;
}

.bg-gradient {
  background: $bg-gradient;
  height: 100vh;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $default-color !important;
}

img {
  height: auto;
  max-width: 100%;
}

.hide {
  display: none !important;
}

.err {
  color: $danger-color;
  font-size: rem(14);
}

.disabled {
  cursor: not-allowed;
}
