html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
