p,
a,
strong {
  font-size: font-size("medium");
}

.link {
  color: $default-color;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: darken($default-color, 20%);
  }
}

.center-align {
  text-align: center;
}

@each $name, $style in $headings {
  #{$name} {
    font-size: map-get($style, "size");
    font-weight: map-get($style, "weight");
  }
}

.section-header {
  margin: 20px 0;
  font-family: "Kameron";
  letter-spacing: 1px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.section-breaker {
  width: 80%;
  background-color: color-on("surface");
  height: 1px;
  margin-bottom: 35px;
}

.helper-text,
.err-text {
  opacity: 0;
  left: 10px;
  transition: all 0.15s ease-out;
}

.err-text {
  color: $danger-color;
}

.helper-text,
.err-text,
.character-counter {
  font-size: font-size("small");
  position: absolute;
}

.character-counter {
  right: 10px;
}

.date {
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
