.btn,
.btn-outlined,
.btn-texted,
.btn-big,
.label-file {
  font-size: font-size("medium");
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  padding: rem(3) rem(20);
  border-radius: border-radius("small");
  cursor: pointer;
}

.btn-texted {
  display: flex;
  align-content: center;
  align-items: center;
}

.btn,
.btn-big {
  background: $accent-color;
  color: $default-color;

  &:hover {
    background: color("secondary-hover");
  }

  &:active {
    background: color("secondary-active");
  }
}

.btn-outlined {
  background: transparent;
  @include border(1px, color("secondary"));
  color: color("secondary");

  &:hover {
    background: rgba($color: $accent-color, $alpha: 0.1);
  }

  &:active {
    background: rgba($color: $accent-color, $alpha: 0.3);
  }
}

input[type="file"] {
  display: none;
}

.label-file {
  display: flex;
  justify-content: center;
  align-items: center;
  background: color("secondary");
  color: color-on("secondary");
  border-radius: border-radius("medium");

  &:hover {
    background: color("secondary-hover");
  }

  &:active {
    background: color("secondary-active");
  }
}

.btn-texted {
  color: color("secondary");
  padding: 0;

  &:hover {
    color: color("secondary-hover");
  }
  &:active {
    color: color("secondary-active");
  }
}

.btn-big {
  width: 250px;
  height: 40px;
  padding: rem(8) rem(25);
}

.btn-icon {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  color: color-on(surface);

  &:hover {
    color: darken(color-on(surface), 10%);
  }

  &:focus {
    color: darken(color-on(surface), 30%);
  }
}

button {
  outline: none;
  background: none;
  border: none;
}

.tooltips {
  position: absolute;
  top: 0;
  left: -105px;
  width: 100px;
  color: color-on("primary");
  background: color("primary");
  border-radius: border-radius("small");
  padding: 2px;
  display: none;
  opacity: 0;
}

button:hover .tooltips {
  opacity: 1;
  display: block;
  transition: all 0.1s ease-in;
}
