.tabs {
  background: color("surface");

  ul {
    display: flex;
    justify-content: center;
  }

  a.unselected {
    display: block;
    padding: 5px 15px;
    font-size: font-size("big");
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: color-on(surface);

    &:hover {
      color: darken(color("secondary"), 10%) !important;
    }

    &:visited {
      color: color-on("surface");
    }
  }

  a.selected {
    color: color("secondary") !important;
    border-bottom: 1px solid color("secondary");
  }
}
