/* scss_vars: */
/* Font */

$main-font: "Source Sans Pro", Helvetica, Arial, sans-serif;

/* Size */
$main-font-size: 62.5%;
$main-line-height: 1.4;

$desktop-width: 1280px;
$sm-desktop-width: 980px;
$tablet-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

/* Main color */
$main-font-color: #50636d;
$second-font-color: #cee5f2;
$default-color: #fff;
$additional-color: #637081;
$primary-color: #637081;
$bg-color: #9a9da1;
$danger-color: #fc5c65;
$success-color: rgb(51, 175, 51);

$bg-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

//new vars

$accent-color: #62d8ca;

$colors: (
  "primary": #637081,
  "secondary": $accent-color,
  "secondary-hover":
    adjust-color($accent-color, $saturation: 5%, $lightness: -10%),
  "secondary-active":
    adjust-color($accent-color, $saturation: -10%, $lightness: -15%),
  "surface": #fff,
  "bg": #dfe3e9,
  "err": #fc5c65
);

$on-colors: (
  "primary": #fff,
  "secondary": #fff,
  "surface": #50636d,
  "bg": #cee5f2,
  "err": #fff
);

$headings: (
  "h1": (
    "size": rem(96),
    "weight": 300
  ),
  "h2": (
    "size": rem(60),
    "weight": 300
  ),
  "h3": (
    "size": rem(48),
    "weight": 400
  ),
  "h4": (
    "size": rem(34),
    "weight": 400
  ),
  "h5": (
    "size": rem(24),
    "weight": 400
  ),
  "h6": (
    "size": rem(20),
    "weight": 600
  )
);

$font-sizes: (
  "big": rem(16),
  "medium": rem(14),
  "small": rem(12)
);

$border-radiuses: (
  "big": rem(9),
  "medium": rem(5),
  "small": rem(3)
);

$z-layers: (
  "snackbar": 4,
  "dialog": 3
);
