.dropdown {
  display: inline-block;
  position: relative;

  i {
    font-size: 28px;
    color: darken(color-on("primary"), 8%);
    border: 1px solid color-on("primary");
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }

  &:hover .dropdown-content {
    display: block;
    animation: all expose 0.2s ease-out;
  }

  &:hover i {
    color: darken(color-on("primary"), 20%);
    border: 1px solid darken(color-on("primary"), 10%);
  }
}

.dropdown-content {
  position: absolute;
  right: 0;
  display: none;
  min-width: 160px;
  background: lighten(color("primary"), 10%);
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  z-index: 1;

  a:hover {
    text-decoration: none;
  }

  .logout {
    border-top: 1px solid lighten(color-on("primary"), 10%);
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
  }

  a,
  button {
    display: inline-block;
  }

  .dropdown-item {
    width: 100%;
    padding: 8px 20px;
    color: lighten(color-on("primary"), 10%);

    &:hover {
      background: lighten(color-on("primary"), 10%);
      color: lighten(color("primary"), 10%);
    }
  }
}
