.auth-form {
  display: flex;
  height: rem(360);
  width: rem(770);
  border-radius: 5px;
  margin-top: rem(60);
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  background: white;
  position: relative;

  @include respond(phone) {
    flex-grow: 1;
    flex-flow: column;
    min-width: rem(400);
  }

  .left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-around;
    background: $primary-color;
    @include respond(phone) {
      justify-content: space-around;
    }
    .box {
      flex-grow: 1;
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
      @include respond(phone) {
        text-align: start;
      }
    }
    p {
      color: $default-color;
    }
    h2 {
      flex-grow: 3;
      text-align: center;
      text-transform: capitalize;
      font-size: rem(36);
      font-weight: 700;
      margin-left: 15px;
      margin-top: rem(25);
      color: $second-font-color;
      @include respond(phone) {
        text-align: start;
      }
    }
  }

  .right {
    display: flex;
    flex-basis: 60%;
    position: relative;
    justify-content: center;
    align-items: center;

    .spinner {
      position: absolute;
      bottom: rem(15);
      z-index: 1;
    }

    form {
      display: flex;
      height: 100%;
      bottom: 100px;
      flex-grow: 1;
      margin: rem(60);
      flex-direction: column;
      justify-content: flex-start;
      @include respond(phone) {
        height: 70%;
        margin-bottom: rem(120);
      }
    }

    .email,
    .password {
      width: 100%;
      padding: 1.5rem 0;

      font-size: rem(16);
      border-bottom: 1px solid $bg-color;
      color: $main-font-color;
      background: transparent;

      &:focus ~ label,
      &:valid ~ label {
        top: rem(-12);
        font-size: rem(13);
      }

      &:valid ~ .valid {
        position: absolute;
        display: inline;
        top: 15px;
        margin-left: 10px;
        color: $success-color;
      }
    }

    .input-icon {
      position: absolute;
      right: rem(10);
      top: 15px;
    }

    .valid {
      display: none;
    }

    .password-label,
    .email-label {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: rem(16);
      text-transform: uppercase;
      letter-spacing: 0.04em;
      color: $main-font-color;
      pointer-events: none;
      transition: 0.5s;
    }

    .email-box {
      margin-top: rem(90);
    }

    .email-box,
    .password-box {
      position: relative;
      margin-bottom: 60px;
    }

    input[type="submit"] {
      position: absolute;
      bottom: rem(10);
      align-self: center;
      width: 75%;
      padding: rem(8);
      font-size: rem(18);
    }

    .err {
      position: absolute;
      align-self: center;
      top: rem(60);
    }
  }
}

.animated-bg {
  background: $additional-color;
  clip-path: circle(10% at 0% 100%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.success-message {
  @include abs-center;
  position: absolute;
  font-size: rem(22);
  color: $accent-color;
  opacity: 0;
  z-index: 2;
}
