.user-profile {
  .user-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lighten(color("primary"), 20%);
  }

  .avatar i {
    padding: 15px;
    font-size: 50px;
    color: darken(color-on("primary"), 10%);
    cursor: default;
  }

  .username,
  .pictures-amount {
    color: color-on("primary");
  }
}
